<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<head>

{% extends "layout.html" %}
{% block index %}
 
<div>  </div>

 <div class="login">
   <br>
   <br>
   <br>
   	<p1 style="font-size:120%; color:red;" >CONTACT:</p1>
   	<p style="font-size:110%; color:black;" >Developed by: KARTHIK KANUR PALANISWAMY</p>
   	<p style="font-size:110%; color:black;" >Hand Phone No: +1 416-580-4307</p>
   	<p style="font-size:110%; color:black;" >Eamil: kpk.cbe@gmail.com</p>
   	<p style="font-size:110%; color:black;" >LinkedIn: www.linkedin.com/in/kpa/</p>
   	<p style="font-size:110%; color:black;" >Location: TORONTO, ON, CANADA MIK 4J2</p>
   <br>   	
 </div>


{% endblock %}