<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<head>

{% extends "layout.html" %}
{% block index %}
 
<div>  </div>

 <div class="login">
   <br>
   <br>
   <br>
   	<h style="font-size:110%; color:red;" >ANOMALY DETECTION USING POWERBI AND PYTHON MACHINE LEARNING</h>
   <br>   	
   <h></h>

     	<p><iframe width="900" height="500" src="https://app.powerbi.com/reportEmbed?reportId=d1bada94-2231-46a1-8f3e-3ff8f4a80c57&autoAuth=true&ctid=21ee97f3-619b-41d6-af80-ef2b7d8880de&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWNhbmFkYS1jZW50cmFsLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>

   <br>
   <br>

 </div>


{% endblock %}